body * {
  font-family: 'Poppins', sans-serif;
}

[v-cloak] {
  display: none;
}

header{
  text-align: center;
  background-color: #D65A31;
  color:white;
  padding: 50px;
  
}

#dribbleShot{
  background-color: #B2B2B2;
}

footer{
  background-color: #222831;
  color:white;
  text-align: center;
}

form{
  width:60vw;
}
.main {
  flex: 3;
}

.sidebar {
  flex: 1;
}
.custom-rounded {
  border-radius: 25px;
}

.custom-tr-rounded {
  border-radius:  0 25px 0 0;
}

.timer {
  background: rgba(217, 194, 105, .2);
}

.text-xxs {
  font-size: .7rem;
}
