body * {
  font-family: 'Poppins', sans-serif;
}

[v-cloak] {
  display: none;
}

header {
  text-align: center;
  /* changed header color to match footer */
  background-color: #222831;
  color: #FFF7E9;
  padding: 50px;
}

#dribbleShot {
  background-color: #FFF7E9;
  /* added a background image - this can be changed as we want */
  background:url(../images/adobe071.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height:70vh
}

footer {
  background-color: #222831;
  color: #FFF7E9;
  text-align: center;
  min-height:10vh
}

form {
  width: 60vw;
}

.main {
  flex: 3;
}

.sidebar {
  flex: 1;
}

.custom-rounded {
  border-radius: 25px;
}

.custom-tr-rounded {
  border-radius: 0 25px 0 0;
}

/* removed this styling - it was part of the template that we don't use */
/* .timer {
  background: rgba(217, 194, 105, .2);
} */

/* .text-xxs {
  font-size: .7rem;
} */

/* added background color to match the ingredients price section */
#side-section {
  background-color: #af874b;
}

.headingText {
  color: black;
  font-size: 35px;
  text-align: center;
  padding-bottom: 3%;
}

/* added some styling for the ingredients needed text */
#selectedDishName{
  background-color: #FFF7E9;
}